
http://caddy:2018 {
    metrics
}

# http://localhost:4430 {
s2.retrylife.ca {

    route /monitor/* {
        # uri strip_prefix /monitor
        # reverse_proxy grafana:3000 {
        #     header_up Host {host}
        # }
        redir https://dashboard.s2.retrylife.ca
    }

    basicauth /pihole/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /pihole/* {
        uri replace /pihole /admin
        reverse_proxy http://pihole
    }

    basicauth /prometheus/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /prometheus/* {
        uri strip_prefix /prometheus
        reverse_proxy prometheus:9090 {
            header_up Host {host}
        }
    }

}

admin.s2.retrylife.ca {
    reverse_proxy localhost:9000
}

dashboard.s2.retrylife.ca {
    reverse_proxy grafana:3000
}

dns.retrylife.ca {
    reverse_proxy dnsdist:8053
}