
http://caddy:2018 {
    metrics
}

# http://localhost:4430 {
s2.retrylife.ca {

    route /monitor/* {
        uri strip_prefix /monitor
        reverse_proxy grafana:3000 {
            header_up Host {host}
        }
    }

    basicauth /pihole/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /pihole/* {
        uri replace /pihole /admin
        reverse_proxy http://pihole
    }

    basicauth /prometheus/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /prometheus/* {
        uri strip_prefix /prometheus
        reverse_proxy prometheus:9090 {
            header_up Host {host}
        }
    }

}

dns.retrylife.ca {
    reverse_proxy dnsdist:8053
}