
http://caddy:2018 {
    metrics
}

# Core S2 domain
s2.retrylife.ca {

    route /monitor/* {
        redir https://dashboard.s2.retrylife.ca
    }

    basicauth /pihole/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /pihole/* {
        uri replace /pihole /admin
        reverse_proxy http://pihole
    }

    basicauth /prometheus/* {
        ewpratten JDJhJDA0JG1iRXhKRTZrUFYyOWRuZVNKclhHVi54S3d0M0tFQ0ZyUDk2Z0N2Tm1tY3JzcC9tQmJ3dUdX
    }

    route /prometheus/* {
        uri strip_prefix /prometheus
        reverse_proxy prometheus:9090 {
            header_up Host {host}
        }
    }

}

# Administration domain
admin.s2.retrylife.ca {
    reverse_proxy localhost:9000
}

# Dashboards
dashboard.s2.retrylife.ca {
    reverse_proxy grafana:3000
}

# Dns
dns.retrylife.ca {
    reverse_proxy dnsdist:8053
}

# RSS aggregator
rss.s2.retrylife.ca {
    reverse_proxy freshrss:80
}

# Maven servers
# release.maven.retrylife.ca {
#     route /* {
#         rewrite * /maven/release/{path}
#         reverse_proxy https://ewpratten.keybase.pub {
#             header_up Host ewpratten.keybase.pub
#         }
#     }
# }
# snapshot.maven.retrylife.ca {
#     route /* {
#         rewrite * /maven/snapshot/{path}
#         reverse_proxy https://ewpratten.keybase.pub {
#             header_up Host ewpratten.keybase.pub
#         }
#     }
# }

# Radio logbook
cloudlog.s2.retrylife.ca {
    route /* {
        reverse_proxy cloudlog:80 {
            header_up Host {host}
        }
    }
    route /assets/* {
        reverse_proxy cloudlog:80 {
            header_up Host {host}
        }
    }
}